.wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    /* width: 768px; */
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    /* width: 1024px; */
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    /* width: 1280px; */
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    /* width: 1440px; */
    width: 100%;
  }
}
