.background {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  top: 0;
}

@media (min-width: 768px) {
  .strawberry {
    display: block;
    position: absolute;
    right: -70px;
    bottom: 220px;
  }
  .banana {
    display: block;
    position: absolute;
    right: 0;
    bottom: -130px;
  }
  .leaves {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 250px;
  }
}

@media (min-width: 1024px) {
  .strawberry {
    right: 0px;
    bottom: 0px;
  }
  .banana {
    right: 0px;
    top: -50px;
  }
  .leaves {
    right: 150px;
    bottom: 0px;
  }
}
