.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  position: relative;
  box-sizing: border-box;
  border-bottom: 2px solid #e0e0e0;
  padding: 18px 15px 18px 15px;
}

/* Modal Btn */

.openClosebtn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #212121;

  border: none;
  background-color: white;
}
.userInfoContainer {
  margin-left: auto;
}

.modalBox {
  display: block;
}

@media (min-width: 1024px) {
  .header {
    border-bottom: none;
    justify-content: flex-start;
    padding-top: 100px;
  }

  .modalBox {
    display: none;
  }
}
