.titleFormBox {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 55px;
}

.titleForm {
  color: #fc842d;

  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.labelBox {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}
.labelForm {
  width: 280px;
  height: 16px;
  flex-shrink: 0;

  padding: 32px 20px 34px 20px;

  color: #9b9faa;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
}

.labelForm > input {
  margin-top: 15px;
}

.inputForm {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: #9b9faa;

  width: 100%;
}
.buttonsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin-top: 60px;
}
.buttonLogin {
  width: 182px;
  height: 44px;
  padding: 13px 51px;

  flex-shrink: 0;
  color: #fff;
  border: none;
  border-radius: 30px;
  background: #fc842d;
  box-shadow: 0px 4px 10px 0px rgba(252, 132, 45, 0.5);

  color: #fff;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
}
.buttonRegister {
  width: 182px;
  height: 44px;
  padding: 13px 37px;

  flex-shrink: 0;

  border-radius: 30px;
  border: 2px solid #fc842d;
  background: #fff;

  color: #fc842d;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
}

.error {
  font-weight: normal;
  font-family: Verdana;
  font-style: italic;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  line-height: 1.6;
  color: red;
}

/* Responsive */

@media (min-width: 768px) {
  .titleFormBox {
    display: flex;

    margin-bottom: 40px;
  }
  .titleForm,
  .labelForm {
    padding-left: 26px;
  }

  .form {
    margin-top: 200px;
  }

  .buttonsBox {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 26px;
  }
  .signinFormBox,
  .buttonsBox {
    position: absolute;
    z-index: 2;
  }
  .buttonLogin {
    padding: 13px 51px 13px 50px;
  }
}
