.sidebarBox {
  width: 100%;
  /* height: 326px; */
  background-color: #f0f1f3;

  padding: 40px 15px 20px 20px;
}
.contentBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.summaryTitle {
  width: 285px;
  height: 20px;
  flex-shrink: 0;

  color: #212121;

  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;

  margin-bottom: 20px;
}
.summaryTextBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summaryTextBoxDetails li p span {
  width: 130px;
  height: 112px;
  flex-shrink: 0;

  color: #9b9faa;

  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.summaryTextBoxDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.summaryTextBoxDetails li {
  list-style: none;
}

.summaryTextBoxResults {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}
.summaryTextBoxResults li p span {
  width: 130px;
  height: 112px;
  flex-shrink: 0;

  color: #9b9faa;

  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.summaryTextBoxResults li {
  list-style: none;
}

.notRecomandedFoodBoxTitle {
  width: 280px;
  height: 20px;
  flex-shrink: 0;

  color: #212121;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;

  margin-bottom: 20px;
  /* margin-top: 40px; */
}

.notRecomandedFoodBoxProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;

  padding-bottom: 52px;
}
.notRecomandedFoodBoxProducts li p span {
  width: 261px;
  height: 109px;
  flex-shrink: 0;

  color: #9b9faa;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.notRecomandedFoodBoxProducts li {
  list-style: none;
}

.ifNotCalories {
  width: 260.69px;
  height: 64px;
  padding-top: 20px;
}
.ifNotCalories p {
  color: #9b9faa;

  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

/* Responsive */

@media (min-width: 768px) {
  .contentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .summaryBox,
  .notRecommandedFoodBox {
    width: 288px;
    height: 166px;
  }

  .summaryTextBoxDetails {
    text-align: left;
  }
  .sidebarBox {
    padding-top: 80px;
  }
}

@media (min-width: 1024px) {
  .sidebarBox {
    height: 890px;
    width: 517px;
  }
  .contentBox {
    flex-direction: column;
  }
}
